<ng-template #content let-modal>
	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">New Income</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
	</div>
	<div class="modal-body">
		<form [formGroup]="incomeFormGroup" (ngSubmit)="onSubmit()">
			<div class="mb-3 row">
                <div class="col-md-3"><label>Amount</label></div>
				<div class="col-md-9">
                    <input formControlName="amount" type="number" required/>
				</div>
                <div *ngIf="amount.invalid && (amount.dirty || amount.touched)" class="invalid-feedback">
                    <div *ngIf="amount.errors!['required']">
                        Amount is required
                    </div>
                    <div *ngIf="amount.errors!['min']">
                        Amount must not be negative
                    </div>
                </div>
			</div>
            <div class="mb-3 row">
                <div class="col-md-3"><label>Description</label></div>
				<div class="col-md-9">
                    <input formControlName="description" type="text" />
				</div>
			</div>
            <div class="mb-3 row">
                <div class="col-md-3"><label>Date</label></div>
				<div class="col-md-9">
                    <input formControlName="date" type="date" required/>
				</div>
                <div *ngIf="date.invalid && (date.dirty || date.touched)" class="invalid-feedback">
                    <div *ngIf="date.errors!['required']">
                        Date is required
                    </div>
                </div>
			</div>
		</form>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')" [disabled]="incomeFormGroup.invalid">Save</button>
	</div>
</ng-template>

<div class="mb-3">
    <button class="btn btn-success mr-2" (click)="open(content)">Add Income</button>
</div>