nav {
    margin-top: 70px;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px; /* Adjust the width as needed */
    background-color: #f8f9fa; /* Background color for the sidebar */
}