<nav class="col-md-2 d-none d-md-block bg-light sidebar">
  <div class="position-sticky">
      <ul class="nav flex-column nav-pills">
          <li class="nav-item">
              <a class="nav-link" routerLinkActive="active" href="#">Home</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" routerLinkActive="active" routerLink="/incomes">Income</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" routerLinkActive="active" routerLink="/expenses">Expense</a>
          </li>
      </ul>
  </div>
</nav>